body {
  margin: 0;
}
#intro {
  position: relative;
  height: 100vh;
  background: -webkit-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -o-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -moz-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}

.contact {
  font-family: 'Manjari', sans-serif;
  font-size: 1.5em;
  height: 60px;
  width: 350px;
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.contact:hover {
  background-color: orangered;
  color: white;
}

.name {
  font-family: 'Manjari', sans-serif;
  text-align: left;
  font-size: large;
  color: rgba(31, 27, 24, 0.329);
  padding-left: 5em;
  font-weight: bold;
}

.Intro_bottom {
  font-family: 'Manjari', sans-serif;
  position: absolute;
  bottom: -2;
  padding-left: 0.5em;
  font-size: 6em;
}

/* -------------------Typography------------------ */

.had {
  color: #d44b15;
  text-align: center;
  /* background-color: #e5e4e4; */
  font-size: 0.9em;
  font-family: Lato, serif;
  padding: 9em 0em 16em;
  position: relative;
}

.had-r1 {
  line-height: 1em;
  font-size: 7em;
  font-weight: 100;
}

.had-amp {
  /* color: rgb(0, 0, 0); */
  color: white;
  font-size: 1em;
  font-style: italic;
  vertical-align: bottom;
  margin: 0 -0.3em;
}


/* ------------------------------------------------ */
.fc {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: 50;
  line-height: 1em;
  letter-spacing: 0px;
  color: black;
  background-color: white;
  display: inline-block;
  margin-top: -0.7em;
  padding: 0.65em 0.7em 0.65em 0.7em;
}